<!DOCTYPE html>
<html>
  <head>
    <title>Narcis</title>
    <link rel="stylesheet" type="text/css" href="/static/diff.css">
    <script type="text/javascript" src="/static/bower/promise-polyfill/Promise.js"></script>
    <script type="text/javascript" src="/static/Diff.js"></script>
    <script type="text/javascript" src="/static/ImageData.js"></script>
    <script type="text/javascript" src="/static/Screenshot.js"></script>
  </head>
  <body>
    <div id="diff">
      <img id="before" class="screenshot" src="{{ before.image.url }}" alt="{{ before.page.name }} Before"/>
      <img id="after" class="screenshot" src="{{ after.image.url }}" alt="{{ after.page.name }} After"/>
    </div>

    <script type="text/javascript">
      window.before = new Screenshot('before');
      window.after = new Screenshot('after');
    </script>

    <div id="controls">
      <button onclick="window.before.binaryDiff(window.after);">Binary Diff</button>
      <button onclick="window.before.horizontalDiff(window.after);">Horizontal Diff</button>
      <button onclick="window.before.splitDiff(window.after);">Split Diff</button>
      <button onclick="window.before.recursiveDiff(window.after);">Recursive Diff</button>
      <button onclick="window.before.reset(); window.after.reset();">Reset</button>
    </div>
  </body>
</html>
